/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content:center;
}

.pagination a {
    padding: 10px;
    margin: 8px;
    cursor: pointer;
}